<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Fixed Thymeleaf namespace -->
<head>
    <meta charset="ISO-8859-1">
    <title>All Users - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>List of All Users</h1>
        </div>

        <!-- Table to display the list of users -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <!-- Thymeleaf loop to iterate over users and display their details -->
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.email}">Emsil</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
